body {
  margin: 0;
  padding: 0;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;
  background-color: #ffffff;
}
a {
  text-decoration: none;
}
img {
  max-width: : 100%;
  height: auto;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.main-header {
  background-color: #eeeeee;
  padding-top: 49px;
  /*мое свойство*/
}
.main-header-logo {
  width: 160px;
  height: 65px;
  margin-right: 200px;
  /*мое свойство*/
}
.main-header-logo:hover,
.main-header-logo:focus {
  opacity: 0.8;
}
.main-header-logo:active {
  opacity: 0.3;
}
.main-navigation {
  display: flex;
  flex-direction: column;
  line-height: 30px;
  font-weight: 500;
  color: #000000;
  align-items: center;
}
.main-navigation--wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 18px;
}
.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0;
}
.site-navigation,
.user-navigation {
  margin: 0;
  padding: 0;
  list-style: none;
}
.site-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 440px;
}
.user-navigation {
  position: relative;
  max-width: 180px;
  padding-left: 86px;
}
.cart::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 45px;
  width: 16px;
  height: 16px;
  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.site-navigation a,
.user-navigation a {
  color: #000000;
  text-transform: uppercase;
}
.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  outline: none;
  color: #fb565a;
}
.site-navigation a:active,
.user-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}
.tagline {
  display: flex;
  flex-wrap: wrap;
}
.tagline-header {
  width: 380px;
  margin-right: 50px;
  margin-bottom: 25px;
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: #000000;
}
.tagline-wrapper {
  display: flex;
  flex-direction: column;
}
.tagline-text {
  display: block;
  margin-bottom: 37px;
  width: 380px;
}
.tagline__button {
  display: block;
  width: 240px;
  padding: 16px 54px;
}
.btn {
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  border: none;
}
.btn:active {
  color: rgba(255, 255, 255, 0.3);
}
.btn-red {
  background-color: #fb565a;
}
.btn-red:hover,
.btn-red:focus {
  background-color: #e74246;
}
.btn-red:active {
  background-color: #d7373b;
}
.btn-green {
  background-color: #00ca74;
}
.btn-green:hover,
.btn-green:focus {
  background-color: #00bc6c;
}
.btn-green:active {
  background-color: #00aa62;
}
.btn-yellow {
  background-color: #efc849;
}
.btn-yellow:hover,
.btn-yellow:focus {
  background-color: #eab534;
}
.btn-yellow:active {
  background-color: #e5a722;
}
.services {
  padding-top: 80px;
  padding-bottom: 80px;
  border-bottom: 2px solid #eeeeee;
}
.services__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 1100px;
  /*мое свойство*/
}
.services__item {
  width: 300px;
}
.services__item1::before {
  content: url("../img/illustration-1-min.jpg");
  display: block;
  width: 300px;
  height: 146px;
  background-position: 0 0;
  background-repeat: no-repeat;
}
.services__item2::before {
  content: url("../img/illustration-2-min.jpg");
  display: block;
  width: 300px;
  height: 146px;
  background-position: 0 0;
  background-repeat: no-repeat;
}
.services__item3::before {
  content: url("../img/illustration-3-min.jpg");
  display: block;
  width: 300px;
  height: 146px;
  background-position: 0 0;
  background-repeat: no-repeat;
}
.services__button {
  display: block;
  width: 150px;
  padding: 16px 40px;
  border-radius: 2px;
}
.services__list h3 {
  font-size: 24px;
  font-weight: 30px;
  color: #000000;
  text-transform: uppercase;
}
.index-columns {
  display: flex;
  justify-content: space-between;
}
.features {
  padding-top: 80px;
  padding-bottom: 80px;
  border-bottom: 2px solid #eeeeee;
}
.features--wrapper {
  width: 660px;
}
.features__table-wrapper {
  width: 360px;
}
.features__table-wrapper::before {
  content: url("../img/nerds-illustration-min.png");
  width: 359px;
  height: 208px;
}
.features-tagline {
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
  color: #000000;
}
.features-header {
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}
.features-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.features-list-item::before {
  content: "";
  display: inline-block;
  margin-right: 11px;
  width: 25px;
  height: 2px;
  background-color: #fb565a;
  vertical-align: middle;
}
.features-accuracy {
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}
.features-percentage {
  font-weight: 700;
  color: #000000;
  font-size: 45px;
}
/*.percentage {
	font-size: 10px;
	line-height: 10px;
}*/
.friends {
  padding-top: 62px;
  padding-bottom: 50px;
  border-bottom: 2px solid #eeeeee;
}
.friend-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.friend-list img {
  opacity: 0.2;
}
.friend-list img:hover {
  opacity: 1;
}
.friend-list img:active {
  opacity: 0.1;
}
.map {
  position: relative;
  margin: 0 auto;
  padding: 0;
  padding-top: 80px;
  /*Как переопределить ширину элемента за контейнером*/
}
.map-addres {
  display: block;
  position: absolute;
  top: 135px;
  left: 140px;
  width: 220px;
  background-color: #ffffff;
  padding: 50px;
}
.map-header {
  display: block;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
}
.map__button {
  display: block;
  margin-top: 40px;
  width: 130px;
  padding: 16px 45px 16px 45px;
  border-radius: 2px;
}
.main-footer {
  padding-top: 69px;
}
.footer-social {
  display: flex;
}
.footer-social-tagline {
  margin: 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
}
.footer-social-sale {
  margin: 0;
  line-height: 22px;
}
.footer-social-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 260px;
  list-style: none;
  margin-right: 140px;
}
.social-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #e1e1e1;
}
.social-btn:hover,
.social-btn:focus {
  background-color: #e74246;
}
.social-btn:active {
  background-color: #d7373b;
}
.social-btn:active path {
  fill: rgba(255, 255, 255, 0.3);
}
.footer-content {
  width: 560px;
}
.modal h2 {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
}
.appointment-item label {
  font: inherit;
  font-weight: 700;
  line-height: 18px;
}
.appointment-item input,
.appointment-item textarea {
  font: inherit;
  border: 2px solid #d7dcde;
}
.appointment-item input:hover,
.appointment-item textarea:hover {
  border: 2px solid #b4b9bb;
}
.appointment-item input:focus,
.appointment-item textarea:focus {
  outline: none;
  border: 2px solid #000000;
}
.appointment-item input:invalid,
.appointment-item textarea:invalid {
  color: #e74246;
  border: 2px solid #e74246;
}
