.zero() {
	margin: 0;
	padding: 0;
}

.border-bottom() {
	border-bottom: 2px solid @grey;
}

.padding__block() {
	padding-top: 80px;
	padding-bottom: 80px;
}

@white: #ffffff;
@white-active: rgba(255, 255, 255, 0.3);
@grey: #eeeeee;
@black: #000000;
@black-active: rgba(0, 0, 0, 0.3);
@red: #fb565a;
@red-hover: #e74246;
@red-active: #d7373b;
@green: #00ca74;
@green-hover: #00bc6c;
@green-active: #00aa62;
@yellow: #efc849;
@yellow-hover: #eab534;
@yellow-active: #e5a722; 
@font-color: #283136;
@a-hover: #fb565a;
@input-border: #d7dcde;
@input-border-hover: #b4b9bb;
@social-btn-grey: #e1e1e1;




body {
	.zero();
	font-family: Roboto, Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: @font-color;
	background-color: @white;
}

a {
	text-decoration: none;
}
img {
	max-width: : 100%;
	height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header {
	background-color: @grey;
	padding-top: 49px; /*мое свойство*/

}

.main-header-logo {
	width: 160px;
	height: 65px;
	margin-right: 200px; /*мое свойство*/
}

.main-header-logo:hover,
.main-header-logo:focus {
	opacity: 0.8;
}

.main-header-logo:active {
	opacity: 0.3;
}

.main-navigation {
	display: flex;
	flex-direction: column;
	line-height: 30px;
	font-weight: 500;
	color: @black;
	align-items: center;
}

.main-navigation--wrapper {
	display: flex;
	justify-content: space-between;

	width: 100%;
	margin-bottom: 18px;
}

.container {
	width: 1160px;
	margin: 0 auto;
	padding: 0;
}

.site-navigation,
.user-navigation  {
	
	margin: 0;
	padding: 0;
	list-style: none;
}

.site-navigation {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 440px;
}

.user-navigation {
	position: relative;
	max-width: 180px;
	padding-left: 86px;
}

.cart::before {
	content: "";
	position: absolute;
	top: 7px;
	left: 45px;
	width: 16px;
	height: 16px;
	background-image: url("../img/cart-icon.svg");
	background-repeat: no-repeat;
	background-position: 0 0;

}

.site-navigation a,
.user-navigation a {
	color: @black;
	text-transform: uppercase;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
	outline: none;
	color: @a-hover;

}
.site-navigation a:active,
.user-navigation a:active {
	color: @black-active;
	
}

.tagline {
	display: flex;
	flex-wrap: wrap;
}

.tagline-header {
	width: 380px;
	margin-right: 50px;
	margin-bottom: 25px;
	font-weight: 500;
	font-size: 55px;
	line-height: 55px;
	color: @black;
}

.tagline-wrapper {
	display: flex;
	flex-direction: column;
}

.tagline-text {
	display: block;
	margin-bottom: 37px;
	width: 380px;
}
.tagline__button {
	display: block;
	width: 240px;
	padding: 16px 54px;
}

.btn {
	color: @white;
	text-align: center;
	
	text-transform: uppercase;
	border: none;	
}

.btn:active {
	color: @white-active;
}

.btn-red {
	background-color: @red;
}

.btn-red:hover,
.btn-red:focus, {
	background-color: @red-hover;
}

.btn-red:active {
	background-color: @red-active;
}

.btn-green {
	background-color: @green;
}

.btn-green:hover,
.btn-green:focus {
	background-color: @green-hover;
}

.btn-green:active {
	background-color: @green-active;
}

.btn-yellow {
	background-color: @yellow;
}

.btn-yellow:hover,
.btn-yellow:focus {
	background-color: @yellow-hover;
}
.btn-yellow:active {
	background-color: @yellow-active;
}

.services {
	.padding__block();
	.border-bottom();
}

.services__list{
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	list-style: none;
	width: 1100px; /*мое свойство*/
}

.services__item {
	width: 300px;
}

.services__item1::before {
	content: url("../img/illustration-1-min.jpg");
	display: block;
	width: 300px;
	height: 146px;
	background-position: 0 0;
	background-repeat: no-repeat;
}

.services__item2::before {
	content: url("../img/illustration-2-min.jpg");
	display: block;
	width: 300px;
	height: 146px;
	background-position: 0 0;
	background-repeat: no-repeat;
}

.services__item3::before {
	content: url("../img/illustration-3-min.jpg");
	display: block;
	width: 300px;
	height: 146px;
	background-position: 0 0;
	background-repeat: no-repeat;
}

.services__button{
	display: block;
	width: 150px;
	padding: 16px 40px;
	border-radius: 2px;
}

.services__list h3 {

	font-size: 24px;
	font-weight: 30px;
	color: @black;
	text-transform: uppercase;
}

.index-columns {
	display: flex;
	justify-content: space-between;
}

.features {
	.padding__block();
	.border-bottom();
}

.features--wrapper {
	width: 660px;
}

.features__table-wrapper {
	width: 360px;
}

.features__table-wrapper::before {
	content: url("../img/nerds-illustration-min.png");
	width: 359px;
	height: 208px;
}

.features-tagline {
	font-size: 45px;
	font-weight: 500;
	line-height: 45px;
	color: @black;
}
.features-header {
	font-weight: 700;
	text-transform: uppercase;
	color: @black;
}
.features-list {
	.zero();
	list-style: none;
}

.features-list-item::before {
	content: "";
	display: inline-block;
	margin-right: 11px;
	width: 25px;
	height: 2px;
	background-color: @red;
	vertical-align: middle;

}

.features-accuracy {
	font-weight: 700;
	text-transform: uppercase;
	color: @black;
}
.features-percentage {
	font-weight: 700;
	color: @black;
	font-size: 45px;
	
}
/*.percentage {
	font-size: 10px;
	line-height: 10px;
}*/

.friends {
	padding-top: 62px;
	padding-bottom: 50px;
	.border-bottom();
}

.friend-list {
	display: flex;
	justify-content: space-between;
	list-style: none;
}

.friend-list img {
	opacity: 0.2;
}

.friend-list img:hover {
	opacity: 1;
}

.friend-list img:active {
	opacity: 0.1;
}

.map {
	position: relative;
	margin: 0 auto;
	padding: 0;
	padding-top: 80px;
	
	
	/*Как переопределить ширину элемента за контейнером*/
}

.map-addres {
	display: block;
	position: absolute;
	top: 135px;
	left: 140px;
	width: 220px;
	background-color: @white;
	padding: 50px;
}

.map-header {
	display: block;
	margin-bottom: 30px;
	font-weight: 700;
	font-size: 18px;
	line-height: 30px;
	color: @black;
}

.map__button {
	display: block;
	margin-top: 40px;
	width: 130px;
	padding: 16px 45px 16px 45px;
	border-radius: 2px;
}

.main-footer {
	padding-top: 69px;
}

.footer-social {
	display: flex;
}

.footer-social-tagline {
	margin: 0;
	font-weight: 700;
	font-size: 36px;
	line-height: 36px;
}
.footer-social-sale {
	margin: 0;
	line-height: 22px;
}

.footer-social-list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	.zero();
	width: 260px;
	list-style: none;
	margin-right: 140px;
}

.social-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background-color: @social-btn-grey;
}

.social-btn:hover,
.social-btn:focus {
	background-color: @red-hover;
}

.social-btn:active {
	background-color: @red-active;
}
.social-btn:active path {
	fill: @white-active;
}

.footer-content {
	width: 560px;
}

.modal h2 {
	font-weight: 500;
	font-size: 45px;
	line-height: 45px;
}
.appointment-item label {
	font: inherit;
	font-weight: 700;
	line-height: 18px;

}
.appointment-item input,
.appointment-item textarea {
	font: inherit;
	border: 2px solid @input-border;
}
.appointment-item input:hover,
.appointment-item textarea:hover {
	border: 2px solid @input-border-hover;
}
.appointment-item input:focus,
.appointment-item textarea:focus {
	outline: none;
	border: 2px solid @black;

}
.appointment-item input:invalid,
.appointment-item textarea:invalid {
	color: @red-hover;
	border: 2px solid @red-hover;
}