body {
  margin: 0;
  padding: 0;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;
  background-color: #ffffff;
}
a {
  text-decoration: none;
}
img {
  max-width: : 100%;
  height: auto;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.main-header {
  background-color: #eeeeee;
  padding-top: 49px;
  /*мое свойство*/
}
.main-header-logo {
  width: 160px;
  height: 65px;
  margin-right: 10px;
}
.main-header-logo:hover,
.main-header-logo:focus {
  opacity: 0.8;
}
.main-header-logo:active {
  opacity: 0.3;
}
.main-navigation {
  display: flex;
  flex-direction: column;
  line-height: 30px;
  font-weight: 500;
  color: #000000;
  align-items: center;
}
.main-navigation--wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}
.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0;
}
.site-navigation,
.user-navigation {
  margin: 0;
  padding: 0;
  margin-top: 21px;
  list-style: none;
}
.site-navigation {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 445px;
}
.site-navigation--item {
  margin-right: 48px;
}
.site-navigation--item2 {
  margin-right: 50px;
}
.site-navigation--item3 {
  margin-right: 46px;
}
.site-navigation a,
.user-navigation a {
  color: #000000;
  text-transform: uppercase;
}
.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  outline: none;
  color: #fb565a;
}
.site-navigation a:active,
.user-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}
.user-navigation {
  position: relative;
  max-width: 180px;
  margin-top: 27px;
  padding-left: 85px;
}
.cart {
  display: block;
  margin-left: 0px;
}
.cart::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 45px;
  width: 16px;
  height: 16px;
  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.tagline {
  display: flex;
  flex-wrap: wrap;
}
.tagline-header {
  width: 380px;
  margin-right: 55px;
  margin-bottom: 25px;
  margin-top: 62px;
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: #000000;
}
.tagline-wrapper {
  display: flex;
  flex-direction: column;
}
.tagline-text {
  display: block;
  margin-bottom: 39px;
  width: 380px;
}
.tagline__button {
  display: block;
  box-sizing: border-box;
  width: 240px;
  padding: 15px 54px;
}
.btn {
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  border: none;
}
.btn:active {
  color: rgba(255, 255, 255, 0.3);
}
.btn-red {
  background-color: #fb565a;
}
.btn-red:hover,
.btn-red:focus {
  background-color: #e74246;
}
.btn-red:active {
  background-color: #d7373b;
}
.btn-green {
  background-color: #00ca74;
}
.btn-green:hover,
.btn-green:focus {
  background-color: #00bc6c;
}
.btn-green:active {
  background-color: #00aa62;
}
.btn-yellow {
  background-color: #efc849;
}
.btn-yellow:hover,
.btn-yellow:focus {
  background-color: #eab534;
}
.btn-yellow:active {
  background-color: #e5a722;
}
.services {
  padding-top: 83px;
  padding-bottom: 80px;
  border-bottom: 2px solid #eeeeee;
}
.services__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 1105px;
  /*мое свойство*/
}
.services__item {
  width: 300px;
}
.services__item1::before {
  content: "";
  display: block;
  margin-bottom: 20px;
  width: 300px;
  height: 146px;
  background-image: url("../img/illustration-1-min.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
}
.services__item2::before {
  content: "";
  display: block;
  width: 300px;
  height: 146px;
  background-image: url("../img/illustration-2-min.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
}
.services__item3::before {
  content: "";
  display: block;
  width: 300px;
  height: 146px;
  background-image: url("../img/illustration-3-min.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
}
.services__button {
  display: block;
  box-sizing: border-box;
  width: 160px;
  padding: 15px 40px;
  border-radius: 2px;
}
.services__list h3 {
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 30px;
  color: #000000;
  text-transform: uppercase;
}
.services__text {
  display: block;
  width: 260px;
  margin-bottom: 32px;
}
.index-columns {
  display: flex;
  justify-content: space-between;
}
.features {
  padding-top: 73px;
  padding-bottom: 76px;
  border-bottom: 2px solid #eeeeee;
}
.features--wrapper {
  padding-top: 0px;
  width: 660px;
}
.features-tagline {
  margin: 0;
  padding: 0;
  margin-bottom: 35px;
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
  color: #000000;
}
.features-text {
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
  display: block;
}
.features__table-wrapper {
  width: 360px;
}
.features__table-wrapper::before {
  content: url("../img/nerds-illustration-min.png");
  width: 359px;
  height: 208px;
}
.features-header {
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}
.features-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.features-list-item {
  display: block;
  margin-top: 24px;
}
.features-list-item::before {
  content: "";
  display: inline-block;
  margin-right: 11px;
  width: 25px;
  height: 2px;
  background-color: #fb565a;
  vertical-align: middle;
}
.features-accuracy {
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}
.features-percentage {
  font-weight: 700;
  color: #000000;
  font-size: 45px;
}
/*.percentage {
	font-size: 10px;
	line-height: 10px;
}*/
.friends {
  padding-top: 62px;
  padding-bottom: 50px;
  border-bottom: 2px solid #eeeeee;
}
.friend-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.friend-list img {
  opacity: 0.2;
}
.friend-list img:hover {
  opacity: 1;
}
.friend-list img:active {
  opacity: 0.1;
}
.map {
  position: relative;
  margin: 0 auto;
  padding: 0;
  padding-top: 80px;
}
.map-addres {
  display: block;
  position: absolute;
  top: 135px;
  left: 140px;
  width: 220px;
  background-color: #ffffff;
  padding: 50px;
}
.map-header {
  display: block;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
}
.map__button {
  display: block;
  margin-top: 40px;
  width: 130px;
  padding: 16px 45px 16px 45px;
  border-radius: 2px;
}
.main-footer {
  padding-top: 70px;
  padding-bottom: 70px;
}
.footer-social {
  display: flex;
}
.footer-social-tagline {
  margin: 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
}
.footer-social-sale {
  margin: 0;
  line-height: 22px;
}
.footer-social-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 260px;
  list-style: none;
  margin-right: 140px;
}
.social-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #e1e1e1;
}
.social-btn:hover,
.social-btn:focus {
  background-color: #e74246;
}
.social-btn:active {
  background-color: #d7373b;
}
.social-btn:active path {
  fill: rgba(255, 255, 255, 0.3);
}
.footer-content {
  width: 560px;
}
.modal {
  position: fixed;
  background-color: #ffffff;
  box-shadow: 0 30px 40px rgba(0, 0, 0, 0.7);
  display: none;
  z-index: 2;
}
.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
  display: none;
}
.modal__caption {
  margin: 0;
  margin-top: 70px;
  margin-bottom: 48px;
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
}
.modal-write-us {
  bottom: 180px;
  left: 50%;
  margin: 0;
  margin-left: -480px;
  width: 760px;
  padding: 0px 100px 85px;
}
.modal-close {
  position: absolute;
  top: 80px;
  right: 90px;
  width: 21px;
  height: 21px;
  border: 0;
  cursor: pointer;
  background-color: transparent;
}
.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;
  top: 9px;
  right: -3px;
  width: 28px;
  height: 3px;
  background-color: #fecccd;
}
.modal-close::before {
  transform: rotate(45deg);
}
.modal-close::after {
  transform: rotate(-45deg);
}
.modal-close:hover::before,
.modal-close:hover::after,
.modal-close:focus::before,
.modal-close:focus::after {
  background-color: #fb565a;
}
.modal-close:active::before,
.modal-close:active::after {
  background-color: #ffeeee;
}
.modal__button {
  display: block;
  width: 260px;
  padding: 18px 83px;
}
@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }
  70% {
    transform: translateY(30px);
  }
  90% {
    transform: translateY(-10px);
  }
  100% {
    transform: translate(0);
  }
}
.modal-overlay-show {
  display: block;
}
@keyframes shake {
  0%,
  100% {
    transform: translateY(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateY(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateY(10px);
  }
}
.modal-error {
  animation: shake 0.6s;
}
.modal-show {
  display: block;
  animation-name: bounce;
  animation-duration: 0.6s;
}
.appointment-form {
  width: 760px;
}
.form--wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.appointment__item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 360px;
  margin: 0;
}
.appointment__item1 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 760px;
  margin: 0;
  margin-bottom: 47px;
}
.textarea__label {
  width: 100%;
}
.appointment__input--size {
  box-sizing: border-box;
  width: 360px;
  padding: 19px 16px;
}
.appointment__input--name {
  margin-top: 12px;
  margin-right: 40px;
  margin-bottom: 35px;
}
.appointment__input--email {
  margin-top: 12px;
}
.appointment__input--textarea {
  height: 119px;
  margin-top: 12px;
}
.appointment__item label {
  font: inherit;
  font-weight: 700;
  line-height: 18px;
}
.appointment__item input,
.appointment__item1 textarea {
  font: inherit;
  border: 2px solid #d7dcde;
}
.appointment__item input:hover,
.appointment__item1 textarea:hover {
  border: 2px solid #b4b9bb;
}
.appointment__item input:focus,
.appointment__item1 textarea:focus {
  outline: none;
  border: 2px solid #000000;
}
.appointment__item input:invalid,
.appointment__item textarea:invalid {
  color: #e74246;
  border: 2px solid #e74246;
}
